{{ if .Site.Params.chatform.enable }}
{{ "<!-- Chat form Area -->" | safeHTML }}
<section class="chatform-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="cui-embed" style="height: 400px; width: 100%;" data-cui-uid="ARBP7F" data-cui-avatar="https://images.typeform.com/images/29Q3hepyii66" data-cui-mode="widget" data-cui-pill-button-color="#0000FF" data-cui-transparency="100">
                </div><script src="https://public-assets.typeform.com/confab/embed.js" async></script>
             </div>
        </div>
    </div>
</section>
{{ end }}
